:root {
    font-size: 10px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}
.panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.panel {
    display: flex;
    flex-direction: column;
    background-color: #89b0ae;
    max-height: calc(100vh - 12rem);
    border-radius: 8px;
    margin-right: 1rem;
    margin: 0 20px;
}
.panel-header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}
.panel-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #faf9f9;
    padding: 1.2rem 1rem;
}
.ant-card {
    width: 320px;
}
.ant-card .ant-card-body {
    padding: 10px 15px !important;
}
.ant-badge-count.ant-badge-multiple-words {
    height: 20px !important;
    font-size: 11px !important;
    padding: 0 11px !important;
}
.card-title {
    font-weight: 600;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}
.card-desc {
    display: block;
    font-size: 14px;
}
.ant-typography.ant-typography-ellipsis.card-desc,
.ant-typography.card-desc {
    margin-bottom: 0 !important;
}
.ant-btn-text.ant-btn-sm.card-btn {
    padding: 0 !important;
    font-weight: 600;
    color: #19929B;
}
.ant-btn.ant-btn-text.ant-btn-sm.card-btn:hover {
    background-color: transparent !important;
}
.ant-btn.ant-btn-text.ant-btn-sm.sort-btn {
    background-color: #edede9 !important;
}
.ant-btn-text.ant-btn-sm.card-btn {
    font-size: 12px;
}
.panel-footer {
    height: 2rem;
    background-color: #89b0ae;
    border-radius: 0 0 8px 8px;
}
.panel-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.6rem 0.6rem;
    overflow-y: auto;
}
.panel-items li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 0.8rem;
    word-wrap: break-word;
    cursor: pointer;
}
.sort-btn {
    margin-right: 8px;
}
.badge-carbon {
    z-index: 99;
    border-radius: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 10px;
}
.badge-carbon > i {
    color: red;
    margin-right: 5px;
}
.badge-carbon > .ant-typography {
    font-size: 13px;
}